<div class="box-map">

<div class="box-games">

<%= render 'shared/list_match', event: @event %>
</div>

<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</div>
