
<div class="row">
<div class="container">
<div class="col-xs-12 col-sm-6">
<h2>A l'extérieur</h2>
<ul>
  <%@reservations.each do |reservation|%>
    <li>
     <%= link_to "#{reservation.event.game}- #{reservation.event.date} - #{reservation.event.description}", event_path(reservation.event)%>
       <% if policy(reservation).destroy? %>
      <%= link_to "[Supprimer]", reservation_path(reservation),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
    <%end%>
</ul>
</div>


<div class="col-xs-12 col-sm-6">
<h2>A domicile</h2>

<ul>
  <%current_user.events.each do |event|%>
    <li>
      <%= link_to "#{event.game} - #{event.date} - #{event.description}", event_path(event)%>
    </li>
    <%end%>
</ul>
</div>


</div>
</div>
