<h1>My Reservations</h1>

<ul>
  <%@reservations.each do |reservation|%>
    <li>
     <%= link_to "#{reservation.event.game}- #{reservation.event.date} - #{reservation.event.description}", event_path(reservation.event)%>
       <% if policy(reservation).destroy? %>
      <%= link_to "Delete", reservation_path(reservation),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
    <%end%>
</ul>




<h1>My Events</h1>

<ul>
  <%@events.each do |event|%>
    <li>
      <%= link_to "#{event.game} - #{event.date} - #{event.description}", event_path(event)%>
    </li>
    <%end%>
</ul>

