<div>
  <h1>CANAP_PLUS</h1>
</div>


<!-- <form action="/events" method="get">
  <input type="text" name="game">
  <input type="submit">
</form> -->

<%= form_tag events_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a game"
  %>
<% end %>



<ul>
    <%@events.each do |event|%>
    <li> <%= link_to "#{event.game} - #{event.date}", events_path %></li>
  <% end %>
</ul>
