<div>
  <h1>CANAP_PLUS</h1>
</div>


<form action="/events" method="get">
  <input type="text" name="game">
  <input type="submit">
</form>


<%@events.each do |event|%>
<ul>
    <li> <%= link_to "#{event.game} - #{event.date}", events_path %></li>
    </li>
  <% end %>
</ul>
